body {
    font-family: Arial, sans-serif;
    background-color: #151111;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-style: oblique;
}

.container {
    text-align: center;
    background-color: rgb(236, 26, 26);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #34db39;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.content {
    margin-top: 20px;
}
